/* styles/VideoPage.module.css */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF4B7;
  text-align: center;
}

.shlokaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF4B7;
  color: #000B58;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
}

.hintText {
  font-size: 1.1rem;
  color: #FFF4B7;
  margin-top: 10px;
  font-style: italic;
  opacity: 0.85;
}


.hiddenForm {
  position: relative;
}
/*ananthVishw*/
.hiddenOverlayInput,
.hiddenOverlayButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hidden */
  pointer-events: auto; /* Prevents access to "Enter Team Name" */
}

.input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #006A67;
  border-radius: 5px;
  color: #000B58;
  background-color: #FFF4B7;
  width: 100%;
  text-align: center;
}

.blankPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
}
